/* Variables */
:root {
    --background-color: #121212;
    --surface: #1e1e1e;
    --neon-color: #cc1;
}

/* General Styling */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background-color);
    color: white;
}

section,
header {
    background-color: var(--surface);
}

/* End General Styling */

/* start Navigation */
/* Desktop First Approach have been applied here */
nav {
    background-color: var(--surface);
    margin-bottom: 25px;
}

/* Fixed NavBar */
.fixed {
    position: fixed;
    width: 100%;
    z-index: 5;
}
/* End Fixed NavBar */

.bars {
    display: none;
}

@media (max-width: 767px) {
    .bars {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bars i {
        background-color: var(--surface);
        font-size: 5em;
    }

    .nav-links {
        display: none;
    }

    .hide-show-nav-bars {
        display: block;
    }
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li {
    letter-spacing: 0.1em;
    padding: 12px;
    margin: 12px;
    border: 0.15px solid var(--neon-color);
    cursor: pointer;
}

nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--neon-color);
}

nav ul li:hover a {
    color: var(--surface);
}
/* End Navigation */
/* Start Landing */
.landing {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    margin: 0px;
    font-size: 60px;
    letter-spacing: 0.1em;
}
/* End Landing  */

/* Start Sections */
/* Mobile First Approach have been applied here */
.section {
    margin: 25px;
    padding: 25px;
    text-align: center;
}

.section h2 {
    border-bottom: 1px solid var(--neon-color);
    padding: 12px;
    font-size: 3em;
}

.section p {
    font-size: 18px;
    line-height: 1.7;
    margin: 12px 0px;
}

@media (min-width: 991px) {
    .section {
        width: 65%;
        text-align: left;
    }

    section:nth-child(2n-1) {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        text-align: right;
    }

    section:nth-child(2n-1) .section h2 {
        text-align: right;
    }
}
/* End Sections */

.activ-sec {
    border-color: var(--neon-color);
    box-shadow: inset 0 0 0.5em var(--neon-color), 0 0 0.5em var(--neon-color);
}
/* Neon For Nav  */
.neon {
    color: var(--neon-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--neon-color);

    box-shadow: inset 0 0 0.5em var(--neon-color), 0 0 0.5em var(--neon-color);
}

.neon:hover {
    background-color: var(--neon-color);
    color: var(--surface);
}

/* Neon For Heading */
.neon-head {
    color: var(--neon-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--neon-color);
    position: relative;
}

.neon-head::before {
    content: "";
    position: absolute;
    background-color: var(--neon-color);
    width: 100%;
    height: 100%;
    top: 120%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
    -webkit-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    -moz-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    -ms-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    -o-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    -webkit-filter: blur(1em);
}
